include README.rst requirements.txt requirements-test.txt etl_entities/VERSION etl_entities/py.typed
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * *.orig
recursive-exclude docs *
recursive-exclude tests *
prune docs*
prune tests*
