furo
importlib-resources<6
numpydoc
packaging
sphinx
sphinx-copybutton
sphinx-last-updated-by-git
sphinx-toolbox
# TODO: remove upper limit after https://github.com/sphinx-contrib/sphinxcontrib-towncrier/issues/92
sphinxcontrib-towncrier<24.7
towncrier
urllib3
